<!DOCTYPE html>
<html>
<head>
    <title>Sijax Example</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ g.sijax.get_js() }}"></script>

    <script type="text/javascript">
        Sijax.setRequestUri("{{ url_for('hello') }}");
        Sijax.setJsonUri("{{ url_for('static', filename='js/sijax/json2.js') }}");
    </script>
</head>
<body>
    <h1>Flask-Sijax Demo</h1>
    <button id="sayhi-btn">Say Hi</button>

    <script>
    $(function() {
        $('#sayhi-btn').click(function() {
            Sijax.request('say_hi');
        });
    });
    </script>
</body>
</html>
